fastapi>=0.95.0
uvicorn[standard]>=0.22.0
motor>=3.1.1
python-dotenv>=0.21.0
# bump LLaMA-python to get GGUF support
llama-cpp-python>=0.2.65
newspaper3k
pydantic>=2.0
httpx>=0.24.0
lxml[html_clean]>=4.9.3