
.bg-stars {
    background: url("static/stars.png");
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: starsAnimation 30s linear infinite;
}

@keyframes starsAnimation {
    from { background-position: 0 0; }
    to { background-position: 1000px 1000px; }
}


@keyframes orbit {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-orbit {
    animation: orbit 15s linear infinite;
}


@keyframes spin-slow {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-spin-slow {
    animation: spin-slow 60s linear infinite; 
}


@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}

@keyframes float-slow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.animate-float-slow {
    animation: float-slow 4s ease-in-out infinite;
}


.news-container {
    max-height: none; 
    overflow-y: hidden;  
}


#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: rgba(31, 41, 55, 0.9); 
    z-index: 20;
    padding: 20px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.6); 
    transition: transform 0.3s ease-in-out, border-right 0.3s ease;
    transform: translateX(-100%);
    border-right: 4px solid transparent;


#sidebar.open {
    transform: translateX(0); 
    border-right: 4px solid #63b3ed; 
}


#sidebar h2 {
    font-size: 1.5rem;
    color: #63b3ed; 
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}


#sidebar ul {
    list-style: none;
    padding-left: 0;
}

#sidebar li {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1.1rem;
    color: #d1d5db;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


#sidebar li:hover {
    background-color: #2b6cb0; 
    color: white;
}

@media (min-width: 768px) {
    #sidebar {
        transform: translateX(0);
    }
}


@media (max-width: 768px) {

    #sidebar-toggle:checked + #sidebar {
        transform: translateX(0); 
    }
}
